@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

:root {
	font-family: 'Quicksand', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	font-weight: 700;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

nav {
	margin: 7% 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

nav section {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 80%;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	color: #666;
}

a:active {
	color: #333;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

main section.description {
	margin-bottom: 7%;
}

section.description p {
	line-height: 1.75;
}

img {
	max-width: 100%;
}

.piece {
	text-align: center;
	width: 48%;
	margin: 0 0 2% 0;
}

@media screen and (min-width: 788px){
	nav {
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	
	nav section {
		width: 30%;
		justify-content: space-between;
	}
	
	.piece {
		width: 32%;
	}
	
main {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
	
.nowrap {
	flex-flow: nowrap;
}
	

	
	main section.description {
	margin-bottom: 0;
	width: 40%;
	margin: 0 2% 0 0;
}
	
	main section.gallery {
	width: 60%;
	}
	
	
	
}